<section>
  <h2>Créer un jeu</h2>
  <form action="/game/create" method="POST" enctype="multipart/form-data">
    <input type="text" name="gamename" placeholder="title">
    <input type="text" name="gamedescription" placeholder="description">
    <input type="color" name="gamecolor">
    <input type="file" name="gameimage" placeholder="image">
    <button type="submit">Submit</button>
  </form>
</section>
<section>
  <h2>Créer une soirée</h2>
</section>